@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background-color: whitesmoke;
}

* {
    padding: 0%;
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    height: fit-content;
    padding: 5px 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 999;

    #logo {
        h3 {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            cursor: default;
            font-style: normal;

        }
    }

    ul {

        display: flex;
        padding: 20px 20px;

        li {
            list-style: none;
            padding: 10px 20px;

            a {
                text-decoration: none;
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-style: normal;
                color: rgba(0, 0, 0, 0.781);
                transition: 0.5s;

                &:hover {
                    color: black;
                }

            }
        }
    }
}



.hero {
    background-color: white;
    display: flex;
    padding: 20px 20px;
    justify-content: center;
    font-style: normal;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);

    .intro {
        width: 40%;
        align-items: center;
        padding-right: 30px 30px;

        h2 {
            font-size: 5vh;
            font-family: "Bebas Neue", sans-serif;
            font-weight: normal;

            font-style: normal;

        }

        p {
            max-width: 500px;
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: rgba(0, 0, 0, 0.781);
        }

        button {
            padding: 10px 20px;
            cursor: pointer;
            background-color: black;
            border: none;
            border-radius: 4px;

            a {
                color: white;
                font-family: "Bebas Neue", sans-serif;
                font-size: 16px;
                font-style: normal;
                text-decoration: none;

            }
        }
    }

    .image {
        width: 30%;
        display: flex;
        justify-content: start;
        padding: 20px 20px;
        text-align: left;

        img {
            margin: 10px 10px;

        }

        .icon {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 35%;
            align-items: center;
            height: 100%;



        }
    }
}


.aboutme {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 100px 100px;
    align-items: center;
    background-color: whitesmoke;


    .imageAboutMe {
        padding: 100px 100px;
        display: flex;

        border: 1px dotted black;
        margin: 20px 20px;
        background-color: white;
        border-radius: 5px;

        img {
            padding: 10px 10px;
            height: 400px;
            width: 500px;


        }


        .aboutmeCard {
            padding: 40px 50px;
            border-radius: 5px;
            margin: 40px 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            height: fit-content;
            width: fit-content;

            h1 {
                font-family: "Bebas Neue", sans-serif;
                font-size: 4vh;
                font-style: normal;
                color: rgba(0, 0, 0, 0.863);
            }

            p {
                font-family: "Bebas Neue", sans-serif;
                font-size: 16px;
                font-style: normal;
                text-align: justify;
                max-width: 500px;

            }
        }
    }
}

.projectIntro{
    padding: 20px 20px;
    background-color: whitesmoke;
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
    align-items: center;
    text-align: center;
 
 .containerIntro{
    width: fit-content;
    background-color: white;
    height: fit-content;
    margin: auto;
    width: 40%;
    border-radius: 10px;
   padding: 70px 70px;
    border: 1px dotted black;
    h1{
        color: rgba(0, 0, 0, 0.863);
        padding: 20px 0;
    }
   
 }
     
}



.myproject {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
    font-style: normal;

    .project {
        height: fit-content;
        margin: 0px 20px;
        border: 1px dotted black;
        width: fit-content;
        border-radius: 5px;
        padding: 50px 20px;
        background-color: white;


        .imgcontainer {
            text-align: center;


            img {
                height: 200px;
                width: 400px;
                border: 1px dotted rgb(0, 0, 0);
                border-radius: 5px;
                padding: 5px 5px;

            }

        }

        .projectdescription {
            max-width: fit-content;

            p {
                max-width: 400px;
                padding: 20px 20px;

                button {
                    border-radius: 2px;
                    font-family: "Bebas Neue", sans-serif;

                }
            }
        }
    }
}
 

.contactMe {
    height: 100%;
    font-family: "Bebas Neue", sans-serif;
    width: 100%;

    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;

    .formcontainer {
        padding: 20px 20px;
        border-radius: 5px;
        border: 1px dotted black;

        form {
            height: fit-content;

            margin: auto;
            width: fit-content;
            color: white;

            text-align: left;

            #email {
                padding: 10px 10px;
            }

        }

        input {
            width: 300px;
            padding: 10px 10px;


        }

        textarea {
            width: 300px;
        }

    }

    .btn {
        font-family: "Bebas Neue", sans-serif;
        padding-top: 20px;
        color: white;
        border-radius: 5px;
        border: none;
        background-color: black;
        padding-bottom: 20px;

    }
}



footer {
    display: flex;
    justify-content: center;

    height: 10%;
    align-items: center;
    padding: 20px 20px;
    background-color: white;
    letter-spacing: 1px;

    h3 {
        font-size: 12px;
        font-family: "Bebas Neue", sans-serif;
        padding: 40px 10px;
        color: rgba(0, 0, 0, 0.808);

    }

    a {
        color: black;
        text-decoration: none;
        padding: 10px 10px;

        img {
            height: 15px;

        }
    }
}