@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px 5px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  justify-content: center;
  display: flex;
  align-items: center;
}
.navbar #logo h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  cursor: default;
  font-style: normal;
}
.navbar ul {
  display: flex;
  padding: 20px 20px;
}
.navbar ul li {
  list-style: none;
  padding: 10px 20px;
}
.navbar ul li a {
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.781);
  transition: 0.5s;
}
.navbar ul li a:hover {
  color: black;
}

.hero {
  background-color: white;
  display: flex;
  padding: 20px 20px;
  justify-content: center;
  font-style: normal;
  height: 100%;
  align-items: center;
}
.hero .intro {
  width: 40%;
  align-items: center;
  padding-right: 30px 30px;
}
.hero .intro h2 {
  font-size: 5vh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
}
.hero .intro p {
  max-width: 500px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.781);
}
.hero .intro button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: black;
  border: none;
  border-radius: 4px;
}
.hero .intro button a {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
}
.hero .image {
  width: 30%;
  display: flex;
  justify-content: start;
  padding: 20px 20px;
  text-align: left;
}
.hero .image img {
  margin: 10px 10px;
}
.hero .image .icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 35%;
  align-items: center;
  height: 100%;
}

.aboutme {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 100px 100px;
  align-items: center;
}
.aboutme .imageAboutMe {
  padding: 40px 40px;
}
.aboutme .imageAboutMe img {
  padding: 10px 10px;
  height: 50%;
  width: 90%;
}
.aboutme .imageAboutMe figcaption {
  font-family: "Bebas Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
}
.aboutme .aboutmeCard {
  padding: 40px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  background-color: whitesmoke;
  margin: 10px 10px;
  width: 25%;
}
.aboutme .aboutmeCard h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4vh;
  font-style: normal;
  color: rgba(0, 0, 0, 0.863);
}
.aboutme .aboutmeCard p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
}/*# sourceMappingURL=style.css.map */